

  .grid-container {
    display: grid;
    grid-template-rows: 50px 100px; /* dos filas, una de 50px y otra de 100px */
    grid-template-columns: 25% 50%; /* dos columnas, una de 25% y otra de 50% */
    grid-gap: 1em; /* La separación de los elementos será de 1em */
  }

 /*  Una vez tengamos nuestro número de filas y columnas definido, además de sus tamaños, podemos empezar
   a colocar elementos en el grid.

Para ello haremos uso de las propiedades grid-row y grid-column, con las cuales especificaremos en qué fila
 y columna queremos que se encuentre un elemento determinado. */

 .grid-item {
    grid-row: 1; /* primer fila */
    grid-column: 1; /* primera columna */
  }