@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.grid-container {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-content: center;
}

.register-form {
width: 80%;
margin: auto;
max-width: 500px;
margin-top: 200px; /* Para que lo veamos en el centro de la pantalla */
border-radius: 10px;
border:  3px solid black;
padding: 20px; /* Para que el contenido no esté tan pegado a los bordes */
background-color: aquamarine;
gap: 30px; /* Así separamos los elementos hijos del formulario */
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
align-items: end; /* Para que todo se vaya hacia el final */

}


.register-form > div {
gap: 5px ; /* Para separar el Nombre del imput, El Email del imput, La contraseña de su imput, etc */
}

.register-form input, .register-form button {
border-radius: 10px;
border: 1px solid black;
padding: 10px 20px;

}

.register-form button {
    cursor: pointer;
    width: 70% ;
    background-color: orange;
}